<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ocorreu um erro: <% if(locals.message){ %><%= message %><% } %></h1>
    <button onclick="window.location='/'">Voltar</button>
  </body>
</html>
